* {
  box-sizing: border-box;
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  width: 200px;
  height: 200px;
  background-color: rgb(31, 207, 15);
}

.test:hover {
  width: 200px;
  height: 200px;
  box-shadow: 
             200px 200px rgb(98, 173, 51),
             200px 0px rgb(31, 69, 69),
             0px 200px rgb(211, 16, 16),
             200px -200px rgb(3, 217, 250),
             0px -200px rgb(212, 226, 14),
             -200px 200px #fcf263,
             -200px -200px rgb(231, 134, 6),
              -200px 0px rgb(196, 7, 148);;
  transition: all 0.5s ease;                                  
}
